<% content_for :page_title do %>
  <%= t("products.upload.text") %>
<% end %>

<% content_for :page_actions do %>
  <%= button_link_to Spree.t(:new_product), new_object_url, { class: "btn-success", icon: 'add', id: 'admin_new_product' } %>
  <%= button_link_to t("products.upload.text"), admin_products_upload_path, { class: "btn-success", icon: 'add' } %>
<% end if can?(:create, Spree::Product) %>


<div class="panel panel-default">
  <div class="panel-heading"><%= t("products.upload.results") %></div>
  <ul class="list-group">
    <li class="list-group-item text-primary">
      <%= t("products.upload.total", count:  @upload_products.total) %>
    </li>
    <li class="list-group-item text-success">
      <%= t("products.upload.processed", count:  @upload_products.processed) %>
    </li>
    <% if @upload_products.errors.present? %>
      <li class="list-group-item text-danger">
        <%= t("products.upload.errors", count:  @upload_products.errors.size) %>
        <ul>
          <% @upload_products.errors.each do |error| %>
            <li> <%= error %> </li>
          <% end %>
        </ul>
      </li>
    <% end %>
  </ul>
</div>

